automations/catalog/n8n-workflows/cat35_documents.json
{
  "name": "Category 35: Document Management",
  "nodes": [
    {
      "id": "1",
      "type": "n8n-nodes-base.trigger",
      "typeVersion": 1,
      "position": [50, 100],
      "parameters": {
        "rule": {
          "interval": ["hours"],
          "hoursInterval": 1
        }
      },
      "name": "Document Processing Trigger"
    },
    {
      "id": "2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [250, 100],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, file_name, file_url, upload_date FROM documents WHERE classification IS NULL AND status = 'uploaded' ORDER BY upload_date DESC LIMIT 50"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Fetch Unclassified Documents"
    },
    {
      "id": "3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [450, 100],
      "parameters": {
        "operation": "forEach"
      },
      "name": "Classify Each Document"
    },
    {
      "id": "4",
      "type": "n8n-nodes-base.http",
      "typeVersion": 1,
      "position": [650, 100],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "headers": {
          "Authorization": "Bearer {{ env.OPENAI_API_KEY }}"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "gpt-4-vision"
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"system\", \"content\": \"Classify document by type: contract, invoice, receipt, license, certificate, insurance, compliance, other\"}, {\"role\": \"user\", \"content\": \"Analyze and classify: {{ $json.file_name }}\"}]"
            }
          ]
        }
      },
      "credentials": {
        "httpBasicAuth": "openai_credentials"
      },
      "name": "AI Document Classifier"
    },
    {
      "id": "5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 100],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documents SET classification = '{{ $json.classification }}', classified_at = NOW() WHERE id = {{ $json.id }}"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Update Document Classification"
    },
    {
      "id": "6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [50, 250],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, document_id, version_number, created_at FROM document_versions WHERE document_id IN (SELECT id FROM documents WHERE status = 'active') ORDER BY created_at DESC LIMIT 100"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Fetch Document Versions"
    },
    {
      "id": "7",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [250, 250],
      "parameters": {
        "operation": "forEach"
      },
      "name": "Track Version History"
    },
    {
      "id": "8",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 250],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_history (document_id, version_id, action, action_date, actor_id) VALUES ({{ $json.document_id }}, {{ $json.id }}, 'version_created', {{ $json.created_at }}, NULL)"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Log Version History"
    },
    {
      "id": "9",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [50, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, template_name, template_fields FROM mail_merge_templates WHERE status = 'active' LIMIT 50"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Fetch Mail Merge Templates"
    },
    {
      "id": "10",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [250, 400],
      "parameters": {
        "operation": "forEach"
      },
      "name": "Process Template"
    },
    {
      "id": "11",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, name, address FROM clients WHERE status = 'active' AND data_export_consent = true LIMIT 100"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Fetch Recipients"
    },
    {
      "id": "12",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [650, 400],
      "parameters": {
        "operation": "forEach"
      },
      "name": "Merge For Each Recipient"
    },
    {
      "id": "13",
      "type": "n8n-nodes-base.http",
      "typeVersion": 1,
      "position": [850, 400],
      "parameters": {
        "url": "{{ env.DOCUMENT_GENERATOR_API }}/generate",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "template_id",
              "value": "{{ $json.template_id }}"
            },
            {
              "name": "data",
              "value": "{\"name\": \"{{ $json.name }}\", \"email\": \"{{ $json.email }}\", \"address\": \"{{ $json.address }}\"}"
            }
          ]
        }
      },
      "credentials": {
        "httpBasicAuth": "vercel_api_key"
      },
      "name": "Generate Merged Document"
    },
    {
      "id": "14",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generated_documents (template_id, recipient_id, generated_at, document_url) VALUES ({{ $json.template_id }}, {{ $json.id }}, NOW(), '{{ $json.document_url }}')"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Store Generated Document"
    },
    {
      "id": "15",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [50, 550],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, document_name, expiry_date FROM tracked_documents WHERE expiry_date IS NOT NULL AND expiry_date <= NOW() + INTERVAL '30 days' ORDER BY expiry_date ASC"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Fetch Expiring Documents"
    },
    {
      "id": "16",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [250, 550],
      "parameters": {
        "operation": "forEach"
      },
      "name": "Check Expiry"
    },
    {
      "id": "17",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 550],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ (new Date($json.expiry_date).getTime() - new Date().getTime()) / (1000 * 60 * 60 * 24) }}",
              "operation": "lessThan",
              "value2": 7
            }
          ]
        }
      },
      "name": "Is It Urgent?"
    },
    {
      "id": "18",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 550],
      "parameters": {
        "toEmail": "{{ env.ADMIN_EMAIL }}",
        "subject": "URGENT: Document Expiring Soon - {{ $json.document_name }}",
        "textContent": "{{ $json.document_name }} expires on {{ $json.expiry_date }}. Please renew immediately."
      },
      "name": "Send Expiry Alert"
    },
    {
      "id": "19",
      "type": "n8n-nodes-base.trigger",
      "typeVersion": 1,
      "position": [50, 700],
      "parameters": {
        "rule": {
          "interval": ["days"],
          "daysInterval": 1
        }
      },
      "name": "Daily OCR Batch Process"
    },
    {
      "id": "20",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [250, 700],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, file_url, document_type FROM paper_documents WHERE ocr_processed = false AND document_type IN ('receipt', 'form', 'invoice') LIMIT 50"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Fetch Scanned Documents"
    },
    {
      "id": "21",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [450, 700],
      "parameters": {
        "operation": "forEach"
      },
      "name": "OCR Process"
    },
    {
      "id": "22",
      "type": "n8n-nodes-base.http",
      "typeVersion": 1,
      "position": [650, 700],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "headers": {
          "Authorization": "Bearer {{ env.OPENAI_API_KEY }}"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "gpt-4-vision"
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"system\", \"content\": \"Extract text and data from scanned document image\"}, {\"role\": \"user\", \"content\": \"Process document\"}]"
            }
          ]
        }
      },
      "credentials": {
        "httpBasicAuth": "openai_credentials"
      },
      "name": "OCR Text Extraction"
    },
    {
      "id": "23",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 700],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE paper_documents SET ocr_processed = true, extracted_text = '{{ $json.extracted_text }}', extraction_date = NOW() WHERE id = {{ $json.id }}"
      },
      "credentials": {
        "postgresConnection": "neon_db"
      },
      "name": "Store OCR Results"
    }
  ],
  "connections": {
    "Document Processing Trigger": {
      "main": [
        [
          {
            "node": "Fetch Unclassified Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unclassified Documents": {
      "main": [
        [
          {
            "node": "Classify Each Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Each Document": {
      "main": [
        [
          {
            "node": "AI Document Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Classifier": {
      "main": [
        [
          {
            "node": "Update Document Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Document Versions": {
      "main": [
        [
          {
            "node": "Track Version History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Version History": {
      "main": [
        [
          {
            "node": "Log Version History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Mail Merge Templates": {
      "main": [
        [
          {
            "node": "Process Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipients": {
      "main": [
        [
          {
            "node": "Merge For Each Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge For Each Recipient": {
      "main": [
        [
          {
            "node": "Generate Merged Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Merged Document": {
      "main": [
        [
          {
            "node": "Store Generated Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expiring Documents": {
      "main": [
        [
          {
            "node": "Check Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Expiry": {
      "main": [
        [
          {
            "node": "Is It Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is It Urgent?": {
      "main": [
        [
          {
            "node": "Send Expiry Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily OCR Batch Process": {
      "main": [
        [
          {
            "node": "Fetch Scanned Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scanned Documents": {
      "main": [
        [
          {
            "node": "OCR Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Process": {
      "main": [
        [
          {
            "node": "OCR Text Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Text Extraction": {
      "main": [
        [
          {
            "node": "Store OCR Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
